<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!------ Include the above in your HEAD tag ---------->
<style>
    .register {
        background: -webkit-linear-gradient(#3931af, #00c6ff);
        padding: 3%;
        width: 100%;
        height: 100%;
    }
    
    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }
    
    .register-right {
        background: #f8f9fa;
        margin-top: 35px;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }
    
    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }
    
    .btnRegister {
        float: left;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }
    
    img {
        height: 120px;
    }
    
    .register-left p {
        font-weight: lighter;
        padding: 12%;
    }
    
    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>

<script>
    function validateForm() {
        var x = document.forms["myform"]["age"].value;
        if (x < 0) {
            alert("Please fill Age from Range 0-100");
        } else if (x > 100) {
            alert("Please fill Age from Range 0-100");
        }
        var y = document.forms["myform"]["fever"].value;
        if (y < 98) {
            alert("Please fill Fever from Range 98-102");
        } else if (x > 102) {
            alert("Please fill Fever from Range 98-102");
        }
        if (document.myform.fatigue.selectedIndex == "") {
            alert("Please Select option From Fatigue!");
            return false;
        }
        if (document.myform.diff_breating.selectedIndex == "") {
            alert("Please Select Option from Difficulty in breathing!");
            return false;
        }
        if (document.myform.runny_nose.selectedIndex == "") {
            alert("Please Select Option from Runny Nose");
            return false;
        }
    }
</script>


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="\static\icon.png">
            <p>With this the person can self-asses and be sure and stay home.</p>
            <p>It can also help prioritise the patients who really have Coronavirius and help the health care workers who really have it and save kits for the needed.</p>
        </div>
        <div class="col-md-9 register-right">
            <h3 class="register-heading">COVID-19 Detector</h3>
            <form name="myform" action="/" method="POST" onsubmit="return validateForm()">
                <div class="row register-form">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="age" id="age" type="text" class="form-control" placeholder="Enter age" value="" required/>
                        </div>
                        <div class="form-group">
                            <input name="fever" id="fever" type="text" class="form-control" placeholder="Enter Fever" value="" required/>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="diff_breating" id="diff_breating">
                            <option class="hidden"  selected disabled>Do you have difficulty in breathing?</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" name="fatigue" id="fatigue" required="required">
                            <option  class="hidden" selected disabled>Do you have Fatigue</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        </div>
                        <!-- <div class="form-group">
                        <select class="form-control">
                            <option class="hidden"  selected disabled>Do you have dry cough?</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div> -->
                        <!-- <div class="form-group">
                        <select class="form-control">
                            <option class="hidden"  selected disabled>Do you have sour throat?</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div> -->
                        <div class="form-group">
                            <select class="form-control" name="runny_nose" id="runny_nose">
                            <option  class="hidden"  selected disabled>Do you have runny nose?</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        </div>
                        <input type="submit" class="btnRegister" value="Submit" />
                    </div>
                    <div class="col-md-6">
                        <br>
                        <h6>Patient Status: {{status}}</h6>
                        <h6>Patient probability score: {{prob}}</h6>
                    </div>
            </form>
            </div>
        </div>
    </div>